html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header h1 {
  font-size: 1.125rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header img {
  width: 2rem;
  order: -1;
  margin-right: .5rem;
}

nav a, nav a:visited {
  text-decoration: none;
  padding: .75em 1em .6em;
  color: #0074d9;
}

nav a:hover {
  color: #fff;
}

li {
  list-style-type: none;
}

nav ul {
  display: flex;
}

header p {
  margin: 0 auto;
}
